*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.card{
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(45deg, #af2429, #c0128c, #1e9e82, #da0f3b);
    animation: gradientAnimation 10s ease infinite;
    background-size: 200% 300%;
    background-color: rgb(128, 122, 122);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }  
.card1{
    width: 20%;
    height: 70%;
    box-shadow: 5px 8px rgb(26, 6, 6);
    background-color: white;
    color: black;
    border-radius: 50px 0 50px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card img {
    width: 80%;
    height: 40%;
    margin-bottom: 5px;
}

.card-image img{
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}
.card-title, .card_body{
    width: 80%;
    height: 40%;
    color: rgb(1, 1, 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    align-items: flex-start;
    gap: 5px;
    border-radius: 0 10px 10px 0;
}

.like-container {
  display: flex;
  align-items: center; /* Align button and count */
  margin-bottom: 10px; /* Space between like containers */
}

.like-count {
  margin-left: 10px; /* Space between button and count */
  font-size: 16px; /* Adjust font size as needed */
}

.heart-btn {
  width: 50px; 
  height: 50px;
  background-color: #b68596; /* Initial color */
  border: none;
  border-radius: 50%; /* Creates the circular part of the heart */
  position: relative;
  cursor: pointer;
  outline: none;
  color: black; /* Text color */
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s; /* Smooth transition for color change */
}

/* .heart-btn:before,
.heart-btn:after {
  content: '';
  width: 25px;
  height: 25px;
  background-color: #ff4081; 
  border-radius: 50%;
  position: absolute;
} */

.heart-btn:before {
  top: -12.5px; /* Position the top half of the heart */
  left: 12.5px; /* Center it horizontally */
}

.heart-btn:after {
  left: 0;
  top: 12.5px; /* Position the bottom half of the heart */
}

/* Style when liked */
.liked {
  background-color: #e91e1e; /* Color when liked */
}
